body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.headers {
    color: white;
    background-color: black;
    padding: 15px;
    text-align: center;
    font-family: "Times New Roman", serif;
}

.subtitle {
    color: black;
    font-size: large;
    font-weight: bold;
    margin: 20px auto;
    height: 40px;
    padding: 30px;
    box-sizing: content-box;
    text-align: center;
}

a {
    text-align: center;
    display: block;
    margin-top: 500px;
    border-style: solid;
}
.centered {
    text-align: center;
}

.egg-background {
    background-color: rgb(175, 135, 4);
}

.pork-background {
    background-color: rgb(151, 4, 4);
}

.mac-background {
    background-color: rgb(255, 238, 0);
}

p {
    margin: 24px auto;
}