.headers {
    color: white;
    background-color: black;
    font-family: "Times New Roman", serif;
}

.subtitle {
    color: black;
    background-color:rgb(255, 0, 0);
    font-size: large;
    font-weight: bold;
    margin: 50px 1000px
}

a {
    text-align: center;
    display: block;
    padding: 30px;
    margin-top: 50px;
}